@import '~antd/dist/antd.css';
* {
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "pingFangSC-Regular";
  src: url("./font/PingFang-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-Medium";
  src: url("./font/PingFang-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-Light";
  src: url("./font/PingFang-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-Heavy";
  src: url("./font/PingFang-Heavy.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-ExtraLight";
  src: url("./font/PingFang-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-Bold";
  src: url("./font/PingFang-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}