.device-details-info-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;  
}

.device-details-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-image: url('../../../../image/avatar.png');
  background-size: cover;
}

.device-details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.device-details-info-text {
  font-family: PingFang-Heavy;
  font-size: 14px;
  color: #333333;
}
.device-details-info-text:nth-of-type(1) {
  margin: 10px 0 10px 0;
}

.device-details-number-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}